h1 {
  font-size: 50px;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: 1px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: PaleGoldenRod;
  outline: none;
  text-align: center;
  text-shadow: 2px 2px 3px palegoldenrod, 2px 2px 5px rgb(0, 0, 0);
}

h1:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 4px;
}


p{
  font-family: Arial, Helvetica, sans-serif;
}


.IMG{
  box-shadow: 2 15px 30px 5px rgb(255, 255, 255);
	background: rgba(0, 0, 0, 0.9);
  padding: auto;
  box-sizing: border-box;
  border-radius: 4px;


}


h2 {
  font-size: 50px;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: 1px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 0.8rem;
  color: PaleGoldenRod;
  outline: none;
  text-align: center;
}

h2:hover {
  font-variation-settings: "wght" 582;
  letter-spacing: 4px;
}

